spring:
  application:
    name: searching-service

  # Configuración de RabbitMQ (para el consumidor)
  rabbitmq:
    addresses: ${RABBITMQ_ADDRESSES}
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USER:guest}
    password: ${RABBITMQ_PASSWORD:guest}
    listener:
      simple:
        acknowledge-mode: auto
        prefetch: 10
        retry:
          enabled: true
          initial-interval: 3000
          max-attempts: 3
          multiplier: 2
    addresses: ${RABBITMQ_ADDRESSES:localhost:5672}

  # Configuración de GraphQL
  graphql:
    graphiql:
      enabled: true
      path: /playground
server:
  port: 8080
  forward-headers-strategy: native
# Configuración de Actuator y métricas
management:
  server:
    port: 8081
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

# Configuración de OpenSearch (compatible con Elasticsearch API)
opensearch:
  host: ${OPENSEARCH_HOST:udeajobs-elastic-1jbjmgsc.us-east-1.bonsaisearch.net}
  user: ${OPEANSEARCH_USER:95b7f98712}
  password: ${OPENSEARCH_PASSWORD:8b579291f6edfad359e1}

# Configuración específica de la aplicación
app:
  rabbitmq:
    queues:
      project-events: ${PROJECT_QUEUE:project.events.queue}
      categorization-events: ${CATEGORIZATION_QUEUE:project.categorization.queue}
    exchanges:
      project-events: ${PROJECT_EXCHANGE:project.events.exchange}
      categorization-events: ${CATEGORIZATION_EXCHANGE:project.categorization.exchange}
    routing-keys:
      project-events: ${PROJECT_ROUTING_KEY:project.events}
      categorization-events: ${CATEGORIZATION_ROUTING_KEY:project.categorization}

