name: Orquestador Profile Cell

on:
  push:
    branches: [ "main" ] 
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  # -----------------------------------------------------------------
  # JOB 1: IDENTIFICAR CAMBIOS
  # Este job es el "cerebro". No construye nada, solo detecta.
  # -----------------------------------------------------------------
  changes:
    runs-on: ubuntu-latest
    outputs:
      # Exporta una variable booleana (true/false) para cada microservicio
      # El nombre (ej: "auth") debe ser único y lo usaremos abajo
      categorization: ${{ steps.filter.outputs.dashboard }}
      projects: ${{ steps.filter.outputs.profile }}
      searching: ${{ steps.filter.outputs.file }}
      gateway: ${{ steps.filter.outputs.gateway }}
    
    steps:
      - uses: actions/checkout@v4
      # Usamos la Action 'paths-filter'
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            categorization:
              - 'categorization-service/**'
            projects:
              - 'projects-service/**'
            searching:
              - 'searching-service/**'
            gateway:
              - 'projects-gateway/**'
         
  # -----------------------------------------------------------------
  # JOBS DE BUILD: Uno por microservicio
  # Estos jobs SÓLO se ejecutan si el job 'changes' les da luz verde
  # -----------------------------------------------------------------

  build-categorization:
    needs: changes
    if: needs.changes.outputs.categorization == 'true' || github.event_name == 'workflow_dispatch'
    uses: ./.github/workflows/reusable-build-push.yml
    secrets: inherit
    with:
      service-name: categorization-service
      service-path: ./categorization-service

  build-projects:
    needs: changes
    if: needs.changes.outputs.projects == 'true' || github.event_name == 'workflow_dispatch'
    uses: ./.github/workflows/reusable-build-push.yml
    secrets: inherit
    with:
      service-name: projects-service
      service-path: ./projects-service

  build-searching:
    needs: changes
    if: needs.changes.outputs.searching == 'true' || github.event_name == 'workflow_dispatch'
    uses: ./.github/workflows/reusable-build-push.yml
    secrets: inherit
    with:
      service-name: searching-service
      service-path: ./searching-service

  build-gateway:
    needs: changes
    if: needs.changes.outputs.gateway == 'true' || github.event_name == 'workflow_dispatch'
    uses: ./.github/workflows/reusable-build-push.yml
    secrets: inherit
    with:
      service-name: projects-gateway
      service-path: ./projects-gateway

 